.marriage-bg{
    background-image: url(./Assets/image/marriage-bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
} 
.marriage-text{
    color: white;
    font-size: 60px;
    font-family: 'Cormorant Garamond',Georgia,"Times New Roman",serif;
}
.text-1{
    margin-left: -70px;
}
.text-2{
    margin-left: 150px;
}
.text-3{
    margin-left: 250px;
}
.text-4{
    margin-left: 300px;
}
@media(max-width:767px){
    .marriage-bg{
        height: auto;
    }
}