
.marriage-bg{
    background-image: url(./Assets/image/marriage-bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 700px;
} 
.marriage-text{
    color: white;
    font-size: 60px;
    font-family: 'Cormorant Garamond',Georgia,"Times New Roman",serif;
}
.text-1{
    margin-left: -70px;
}
.text-2{
    margin-left: 150px;
}
.text-3{
    margin-left: 250px;
}
.text-4{
    margin-left: 300px;
}
.gallery-bg{
    background-image: url(./Assets/image/footer2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
}
.gallery-st-bg{
    background-image: url(./Assets/image/gallery-bg-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.gallery-md-bg{
    background-image: url(./Assets/image/gallery-end-bg.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.gallery-end-bg{
    background-image: url(./Assets/image/gallery-end-bg-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.footer-bg{
    background-image: url(./Assets/image/footer-bg-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
}
.footer-icon{
    width: 40px;
}